<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ThemeAndNightMode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6406179A1EA467C900FC11AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>640617B31EA467CA00FC11AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>640617BE1EA467CA00FC11AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
